body{
    background-image: url(./img/fondodepokemon.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    font-family: 'Comic Neue', cursive;
    
}
.conteiner-tittle{
display: flex;
flex-direction: column;
align-items: center;
}
.gitall{
    background-color: yellow;
    color: blue;
    padding: 10px;
    border-radius: 40px;
    text-align: center;

}